
/* Body styling */
body{
    /* display: flex;
    flex-direction: row;
    color: #444444;
    justify-content: space-evenly; */
    background-color: #E9E8E6;
}

/* H1 headers styling */
h1{
    margin-bottom: 100px;
}


/* Container styling */
.container{
    max-width: 1300px;
}

/* Main Container styling */
.main-container{
    width: 100%;
    background-color: white;
    padding-left: 100px; 
    padding-right: 100px;
}

/* Main Section Div */
.main-div-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Grid Styling Div, Using grid column and row */
.grid-container{
    display: grid;
    width: 100%;
    justify-content: space-around;
    grid-template-columns: repeat(3,350px);
    grid-template-rows: repeat(1,350px);
}

/* Box1 Styling */
.box1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-end: 2;
}

/* Generic Image Styling */
.image{
    width: 100%;
    height: 100%;
}

/* Generic Image description styling */
.text_desc{
    align-self: center;
}


/* Box2 Styling */
.box2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Box3 Styling */
.box3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Anchor text syyling */
a{
    text-decoration: none;
    color:#34B7A7;
}

/* footer section Design Start*/
/* ---------------------------- */

/* Footer Class */
.footer-class{
    margin-top: 20px;
}

/* Footer-Div */
.footer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E9E8E6;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* ---------------------------- */
/* Footer Design End */

