body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: greenyellow;
}

.container{
    max-width: 1300px;
}
.main-container{
    width: 100%;
    padding-left: 100px; 
    padding-right: 100px;
    background-color: red;
}


.main-div-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}
.grid-container{
    display: grid;
    width: 100%;
    justify-content: space-around;
    background-color: black;
    grid-template-columns: repeat(3,350px);
    grid-template-rows: repeat(1,350px);
}
.box1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: orange;
}


.box2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: pink;
}


.box3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: gray;
}